                                                                                    /*
                                    C S S   R E S E T
                                                                                    */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Ubuntu", sans-serif;
    background-image: url(../assets/images/pelicula.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    width: 100%;
    height: 100vh;
    color: white;
}

                                                                                    /*
                                    F O N T S   G O O G L E
                                                                                    */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Ubuntu:ital,wght@1,500&display=swap');

                                                                                    /*
                                    M E N U
                                                                                    */

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    }

.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(248,8,8);
    transition: 0.3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

                                                                                    /*
                                B A N N E R   T E X T
                                                                                    */

.banner-text{
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: white;
}

.banner-text h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text span{
    color: rgb(248,8,8);
}

.banner-text h2{
    font-size: 16px;
    font-weight: 600;
}

.button1{
    margin-right: 40px;
    padding: 10px 30px;
    background-color: rgb(248,8,8);
    color: white;
    border-radius: 5px;
}

.button1:hover{
    background-color: white;
    color: rgb(248,8,8);
    transition: .5s;
}

.button2{
    margin-right: 40px;
    padding: 10px 30px;
    background-color: white;
    color: rgb(248,8,8);
    border-radius: 5px;
    flex-direction:column;
}

.button2:hover{
    background-color: rgb(248,8,8);
    color: white;
    transition: .5s;
}

                                                                                    /*
                                    R E S P O N S I V E
                                                                                    */

@media screen and (min-width: 768px){
    .logo{
        margin-left: 50px;
    }

    nav{
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background:none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 17px;

    }

    .banner-text h1{
        font-size: 70px;
        margin-bottom: 30px;
    }

    .banner-text h2{
        font-size: 20px;
    }
}

                                                                                    /*
                                    F O O T E R
                                                                                    */

footer{
    /*position: relative;*/
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Dosis", sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin:0 10px;
}

.socials a{
    text-decoration:none ;
    color: white;
}

.socials a i{
    font-size: 1.1rem;
    color: white;
    padding: 6px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

                                                                                    /*
                                    M A I N
                                                                                    */

main{
    background-image: url(../assets/images/black.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.minion{
    background-image: url(../assets/gifs/minion.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    position: absolute;
    left: 48%;
    top: 110%; /* se encarga de que el buscador este en su lugar*/  
    transform: translate(-50%,-25%);
    padding: 10px;
}

.container input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid rgb(248,8,8);
    transition: all .7s ease;
}

::placeholder{
    color: gray;
}

.btn{
    position: fixed;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #D50000;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i{
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

.container:hover input{
    width: 350px;
}

.container:hover i{
    transform: rotate(-360deg);
}

.btn:hover{
    background:#cc0000;
}

.films{
    animation-duration: 3s;
    animation-name: slidein;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.films > .card-film {
    flex: 1 1 150px;
}

@media screen and (min-width: 1024px ){
    .films{
        width: 1000px;
    }
}

@media screen and (max-width: 340px){
    .films{
        width: 300px;
    }
}

@media screen and(min-width: 341px),screen and(max-width:1023) {
    .films{
        width: 500px;
    }
}

.card-film{
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1),
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 8px 32px 0 rgba(0, 0, 0,0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 40px;
    margin: auto 1.5rem;


}

.card-film img{
    height: 300px;
    width: 200px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}